.heading {
    text-align: center;
}
.playing-field {
    width: 520px;
    height: 520px;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    
}

.playing-field_cell {
    display: flex;
    align-content: center;
    width: 24%;
    height: 24%;
    border: 2px solid red;
    border-radius: 5px;
    background-color: chartreuse;
}